@page "/"

<h2>Current Player is @(game.GetCurrentPlayer())</h2>
<Board CurrentGame="game" UpdateGame="Update"/>
@if(game.won) 
{
  <br />
  <h2 class="game-over-message">@game.ShowWinMessage()</h2>
  <button @onclick="Reset">New Game</button>
} 
else if(game.IsBoardFull())
{
  <br />
  <h2 class="game-over-message">@game.ShowGameOver()</h2>
  <button @onclick="Reset">New Game</button>
}

@code {
  Game game = new Game(Output.Web);
  bool showWinMessage = false;

  public void HandleMove(int position) {
    game.TryMove(position);
  }

  private void Update() {
    StateHasChanged();
  }

  private void Reset() {
    game.Reset();
    StateHasChanged();
  }
}
